@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

#app {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
